* {
    background-color: black;
    font-family: 'VT323', monospace;
    color: white;
}

canvas {
    background-color: black;
    border: 2px solid white;

    display: block;
    float: left;
    width: 60%;
}

#highestScoresContainer {
    display: block;
    float: right;
    width: 30%;
    text-align: center;
    font-size: 25px;
}

#scoreContainer, #livesContainer {
    display: inline-block;
    clear: both;
    text-align: left;
    font-size: 25px;
}

#scorelivesContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

}

#instructionsContainer {
    width: 500px;
    height: 200px;
}